[submodule ".vim"]
	path = .vim
	url = https://github.com/lpawelcz/.vim.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/lpawelcz/.tmux.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/bin"]
	path = .local/bin
	url = git@github.com:lpawelcz/scripts.git
